.Scuderia.Ferrari {
  background-color: #fc0b0b;
  color: white;
}
.Red.Bull.Racing {
  background-color: #002f9c;
  color: white;
}
.Mercedes-AMG {
  background-color: aqua;
  color: black;
}

.container-driver-standing {
  display: grid;
  grid-template-columns: 3fr 2fr 10fr 10fr 2fr;
  padding: 5px;
  border: solid white 1px;
}


