.menu-title-container {
  color: white;
}

.menu-title-container h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 125px;
  margin: 15px auto;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
