<!-- <div class="btn-voltar">
  <a [routerLink]="['']">Voltar</a>
</div> -->
<div class="container-content">
  <div class="content-cover">
    <img src="{{imageCover}}" alt="">
  </div>
  <div class="content-title">
    <h1>{{contentTitle}}</h1>
  </div>
  <div class="content-description">
    <p>{{contentDescription}}</p>
    <div class="content-info">
      <span class="category"><a [routerLink]="['/categories', contentTag]">{{contentCategory}}</a></span>
      <span class="autor">por {{contentAutor}}</span>
      <span class="dot">•</span>
      <span class="data">{{contentData}}</span>
    </div>
    <hr>
  </div>
  <div class="content-news">
    <p>{{contentNews}}</p>
  </div>
</div>
