<div class="back-black">
  <div class="container-menu">
    <app-menu-title></app-menu-title>
  </div>

  <div class="container-articles">
    <div class="articles-main">
      <app-big-card id="1"></app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card id="9"></app-small-card>
      <app-small-card id="2"></app-small-card>
      <app-small-card id="3"></app-small-card>
    </div>
  </div>
</div>
<div class="container-articles-formulaone">
  <h2>Formula 1</h2>
  <div class="articles-formulaone">
    <app-smallest-card id="5"></app-smallest-card>
    <app-smallest-card id="6"></app-smallest-card>
    <app-smallest-card id="7"></app-smallest-card>
    <app-smallest-card id="8"></app-smallest-card>
  </div>
</div>
<div class="container-standings">
  <app-small-standings></app-small-standings>
</div>
