<div class="back-black">
  <div class="container-menu">
    <app-menu-title></app-menu-title>
  </div>

  <div class="container-articles">
    <div class="articles-main">
      <app-big-card id="11"></app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card id="13"></app-small-card>
      <app-small-card id="9"></app-small-card>
      <app-small-card id="1"></app-small-card>
    </div>
  </div>
</div>
<div class="container-articles-formulaone">
  <h2>Formula 1</h2>
  <div class="articles-formulaone">
    <app-smallest-card id="5"></app-smallest-card>
    <app-smallest-card id="6"></app-smallest-card>
    <app-smallest-card id="7"></app-smallest-card>
    <app-smallest-card id="8"></app-smallest-card>
  </div>
</div>
<div class="container-formulaone-standings">
  <div class="container-standings">
    <app-small-standings id="1"></app-small-standings>
    <app-small-standings id="2"></app-small-standings>
  </div>
  <a [routerLink]="['categories','formulaone']">Ver mais sobre Formula 1<br>>></a>
</div>
<div class="container-news">
  <h2>Notícias</h2>
  <app-content-news *ngFor="let n of news" id="{{n.id}}"></app-content-news>
</div>
