i {
  margin-right: 5px;
}

.container-menu-bar {
  margin: 15px auto;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: auto;
}

.title h1 {
  text-transform: uppercase;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-transform: uppercase;
}

.social_media {
  margin: auto;
}

.container-menu-bar ul{
  display: flex;
  flex-direction: row;
}

.container-menu-bar li{
  margin: auto 10px;
}
