<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<div class="container-menu-bar">
  <div class="title">
    <h1><a [routerLink]="['']">Racing Center</a></h1>
  </div>
  <div class="categories">
    <ul>
      <li><a [routerLink]="['categories','formula1']">Formula 1</a></li>
      <li><a [routerLink]="['categories','indycar']">Indycar</a></li>
      <li><a [routerLink]="['categories','stockcar']">Stock Car</a></li>
      <li><a [routerLink]="['categories','formulae']">Formula E</a></li>
    </ul>
  </div>
  <div class="social_media">
    <ul>
      <li><a href="https://github.com/lucas-olmelo"><i class="bi bi-github"></i>GitHub</a></li>
      <li><span>•</span></li>
      <li><a href="https://linkedin.com/in/lucas-ol-melo"><i class="bi bi-linkedin"></i>LinkedIn</a></li>
    </ul>
  </div>
</div>
