<div class="container-small-standing">
  <div class="container-title">
    <h3>{{title}}</h3>
  </div>
  <div *ngIf="id === '1'" class="container-standing-drivers">
    <div class="driverPhoto">
      <img src="{{photo}}" alt="">
    </div>
    <div class="standings">
      <app-driver-standing position="1"></app-driver-standing>
      <app-driver-standing position="2"></app-driver-standing>
      <app-driver-standing position="3"></app-driver-standing>
    </div>
  </div>
  <div *ngIf="id === '2'" class="container-standing-teams">
    <div class="teamPhoto">
      <img src="{{photo}}" alt="">
    </div>
    <div class="standings">
      <app-team-standing position="1"></app-team-standing>
      <app-team-standing position="2"></app-team-standing>
      <app-team-standing position="3"></app-team-standing>
    </div>
  </div>
</div>
