<div class="container-small-standing">
  <div class="container-title">
    <h3>{{title}}</h3>
  </div>
  <div *ngIf="id === '1'" class="container-standing-drivers">
    <app-driver-standing position="1"></app-driver-standing>
    <app-driver-standing position="2"></app-driver-standing>
    <app-driver-standing position="3"></app-driver-standing>
    <app-driver-standing position="4"></app-driver-standing>
    <app-driver-standing position="5"></app-driver-standing>
    <app-driver-standing position="6"></app-driver-standing>
    <app-driver-standing position="7"></app-driver-standing>
    <app-driver-standing position="8"></app-driver-standing>
    <app-driver-standing position="9"></app-driver-standing>
    <app-driver-standing position="10"></app-driver-standing>
  </div>
  <div *ngIf="id === '2'" class="container-standing-teams">
    <app-team-standing position="1"></app-team-standing>
    <app-team-standing position="2"></app-team-standing>
    <app-team-standing position="3"></app-team-standing>
    <app-team-standing position="4"></app-team-standing>
    <app-team-standing position="5"></app-team-standing>
    <app-team-standing position="6"></app-team-standing>
    <app-team-standing position="7"></app-team-standing>
    <app-team-standing position="8"></app-team-standing>
    <app-team-standing position="9"></app-team-standing>
    <app-team-standing position="10"></app-team-standing>
  </div>
</div>
