<div class="container-content-news">
  <div class="container-content-news-content">
    <div class="content-news-image">
      <img
        src="{{imageCover}}"
        alt=""
      >
    </div>
    <div class="content-news">
      <div class="content-news-title">
        <span><a [routerLink]="['/categories', categoryTag]">{{category}}</a></span>
        <h1><a [routerLink]="['/categories', categoryTag, id]">{{title}}</a></h1>
      </div>
      <div class="content-news-description">
        <p>
          <a [routerLink]="['/categories', categoryTag, id]">{{subtitle}}</a></p>
      </div>
    </div>
  </div>

  <div class="container-content-news-separator">
    <hr>
  </div>
</div>
