<div class="container-content-news">
  <div class="container-content-news-content">
    <div class="content-news-image">
      <img
        src="{{imageCover}}"
        alt=""
      >
    </div>
    <div class="content-news">
      <div class="content-news-title">
        <span>{{categoryTag}}</span>
        <h1><a [routerLink]="['/content', id]">{{title}}</a></h1>
      </div>
      <div class="content-news-description">
        <p>
          <a [routerLink]="['/content', id]">{{subtitle}}</a></p>
      </div>
    </div>
  </div>

  <div class="container-content-news-separator">
    <hr>
  </div>
</div>
