@media screen and (min-width: 320px){
  .image-menu {
    height: 150px;
  }
  .image-menu img {
    max-height: 150px;
    max-width: 320px;
  }
}

@media screen and (min-width: 481px){
  .image-menu {
    height: 200px;
  }
  .image-menu img {
    max-height: 200px;
    max-width: 480px;
  }
}
